//Cria nosso tema
$my-color-1:#F9EBBB;
$my-color-2:#FCA439;
$my-color-3:#FC7629;
$my-color-4:#91522C;
$my-color-5:#7A3827;

//Agora vamos adicionar as cores ao theme-colors do BOOTSTRAP
$theme-colors:(
  "my-color-1": $my-color-1,
  "my-color-2": $my-color-2,
  "my-color-3": $my-color-3,
  "my-color-4": $my-color-4,
  "my-color-5": $my-color-5
);

//Importa o BOOTSTRAP
@import "../bootstrap-5.1.1/scss/bootstrap";
